.header{
    max-width: 1920px;
    width: 100%;
    background-color: var(--SecondColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outContent{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo{
    font-size: 5rem;
    font-weight: bold;
    font-family: Koho;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.logo:hover{
    color: black;
    transform: scale(1.2);
}

.divButtons{
    display: flex;
}

.buttonHeader{
    background-color: transparent;
    height: 50px;
    margin-left: 20px;
    border-radius: 12px;
    border: 2px solid;
    border-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.buttonHeader:hover{
    background-color:  #00c8ff;
    transform: scale(1.2);
    border-color: black;
}

.buttonHeader:hover > .textButtonHeader, .iconButtonHeader{
    color: black;
    transition: .3s
}

.iconButtonHeader{
    font-size: 1rem;
    width: 35px;
    height: 35px;
}

.buttonHeader:hover > .iconButtonHeader{
    width: 35px;
    height: 35px;
    filter: invert(100%);
    transition: .3s
}

.textButtonHeader{
    font-size: 2rem;
    font-family: Inter;
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
}

.humburguerOn, .humburguerOff{
    display: none;
}

@media (max-width: 850px) {

    .divButtons{
        margin-top: 20vh;
        background-color: var(--SecondColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        padding: 50px 20px;
        border-radius: 10px;
        transition: .5s;
        right: -180px;
    }

    .humburguerOn{
        display: block;
        position: absolute;
        right: 20px;
        width: 50px;
        height: 5px;
        background-color: #fff;
        border-radius: 5px;
        transition: .3s;
        margin-bottom: 10px;
    }

    .humburguerOn::after{
        display: block;
        width: 50px;
        content: "";
        margin-top: 5px;
        height: 5px;
        background-color: #fff;
        border-radius: 5px;
        transition: .3s;
    }

    .humburguerOn::before{
        display: block;
        content: "";
        margin-top: 10px;
        width: 50px;
        height: 5px;
        background-color: #fff;
        border-radius: 5px;
        transition: .3s;
    }

    .humburguerOff{
        display: block;
        position: absolute;
        right: 20px;
        width: 40px;
        height: 6px;
        background-color: #fff;
        border-radius: 5px;
        transform: rotate(45deg);
        transition: .3s;
    }

    .humburguerOff::after{
        display: block;
        width: 40px;
        content: "";
        height: 6px;
        background-color: #fff;
        border-radius: 5px;
        transform: rotate(-90deg);
        transition: .3s;
    }

    .divButtonsCell{
        margin-top: 20vh;
        background-color: var(--SecondColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        padding: 50px 20px;
        border-radius: 10px;
        transition: .5s;
    }

    .buttonHeader{
        margin-left: 0;
        margin-top: 20px;
        height: 40px;
        width: 120px;
        padding: 10px 10px;
    }

    .textButtonHeader{
        font-size: 1.8rem;
    }

}

@media (max-width:400px){
    .logo{
        font-size: 4rem;
    }
}
