.configAlterPassword{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--PrimaryColor);
}
    .boxAlterPassword{
        width: 500px;
        height: 500px;
        background-color: var(--FourthColor);
        border-radius: 20px;
        box-shadow: 10px 10px 4px rgb(15, 28, 37);
        display: flex;
        justify-content: center;
    }

    .marginGeneral{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titlePage{
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
        font-family: Inter;
        font-weight: 600;
        color: var(--ThirdColor)
    }

    .inputsTextAlterPassword{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }

    .outInputAlterPassword{
        border: 2px solid var(--ThirdColor);
        display: flex;    
        margin-top: 20px;
        background-color: var(--ThirdColor);
        border-radius: 5px;
        width: 100%;
        align-items: center;
    }

    .inputAlterPassword{
        background-color: transparent;
        border: 0px;
        height: 40px;
        font-size: 2rem;
        font-family: Inter;
        font-weight: 550;
        width: 82%;
        margin-left: 10px;
        outline: 0;
        padding: 2px;
        margin-right: 10px;
        color: var(--FourthColor);
    }

    .EyeIcon{
        font-size: 2.5rem;
        color: var(--FourthColor);;
    }


    .buttonTrade{
        background-color: var(--FourthColor);
        margin-top: 20px;
        width: 150px;
        height: 45px;
        border-radius: 5px;
        border: 2px solid var(--ThirdColor);
        color: #fff;
        font-family: Inter;
        font-size: 20px;
        transition: 0.3s;
        box-shadow: 2px 1px 3px var(--ThirdColor);
        cursor: pointer;
    }
    .buttonTrade:hover{
        transform: scale(1.2);
        transition: 0.3s;
    }